.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #FFFFFF;  
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1463a7;
  padding: 50px;
}
.header p {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 24px;
}

/* SUB HEADER DESCRIPTION */
.subheader p {
  color: #01355f;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 50px;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;

}
.footer p {
  color: #01355f;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 10px;
}

/* MAP */
.map {
  display:fixed;
  width: 700px;
  height: 500px;
  margin-top: 5px;
  margin-bottom: 50px;
}


