.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #FFFFFF;  
}

/* HEADER */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #1463a7;
  padding: 50px;
}
.header p {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 24px;
}

/* SUB HEADER DESCRIPTION */
.subheader p {
  color: #01355f;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-top: 50px;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer p {
  color: #01355f;
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 35px;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

